.friend-avatar {
  margin-right: 18px;
  border-radius: 42%;
}

.friend-avatar--lg {
  width: 80px;
  height: 80px;
}

.friend-avatar--md {
  width: 70px;
  height: 70px;
}

.friend-avatar--sm {
  width: 55px;
  height: 55px;
}

.friend-avatar-name--regular {
  color: var(--main-color);
  font-size: 23px;
}

.friend-avatar-name--bold {
  font-size: 23px;
  font-weight: 600;
}
