.main {
  width: 100%;
  margin: 30px 25px 0 25px;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.main__header-title {
  font-size: 32px;
  font-weight: 600;
}

.main__header i {
  font-size: 22px;
}

.main__header i:nth-of-type(n + 2) {
  margin-left: 25px;
}
