@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "login.css";

:root {
  --main-color: #2e364e;
  --yellow-color: #ffe710;
}

body {
  color: var(--main-color);
  font-family: "Open Sans";
}
