@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/chats.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/settings.css";
@import "components/status-bar.css";
@import "components/header.css";
@import "components/main.css";
@import "components/nav.css";
@import "components/user-component.css";
@import "components/splash-screen.css";
@import "components/icon-list.css";

:root {
  --main-color: #2e364e;
  --gray-color: rgba(0, 0, 0, 0.5);
  --gray-color-for-line: rgba(0, 0, 0, 0.2);
  --yellow-color: #ffe710;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  color: var(--main-color);
  font-family: "Open Sans";
}

a {
  color: var(--main-color);
}
