@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "login.css";
@import "nav.css";

:root {
  --main-color: #2e364e;
  --yellow-color: #ffe710;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  color: var(--main-color);
  font-family: "Open Sans";
}
