.chats__list-item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chats__list-item__friend-name {
  display: block;
  margin-bottom: 6px;
}

.chat__list-item__time {
  position: absolute;
  top: 5px;
  right: 0;
  color: var(--gray-color);
}

.chat__list-item__notification {
  position: absolute;
  bottom: 8px;
  right: 0;
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 17px;
  border-radius: 50%;
  background-color: #ff6347;
}
