.friend-avatar--lg {
  width: 80px;
  height: 80px;
  border-radius: 42%;
}

.friend-avatar--md {
  width: 70px;
  height: 70px;
  border-radius: 42%;
}

.friend-avatar--sm {
  width: 55px;
  height: 55px;
  border-radius: 42%;
}

.friend-avatar--xlg {
  width: 110px;
  height: 110px;
  border-radius: 10%;
}

.friend-avatar-name--regular {
  color: var(--main-color);
  font-size: 23px;
}

.friend-avatar-name--bold {
  font-size: 23px;
  font-weight: 600;
}

.friend-avatar-message-preview {
  color: var(--gray-color);
  font-size: 17px;
}
