.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 25px 0px 25px;
}

.header-title {
  font-size: 32px;
  font-weight: 600;
}

.header__title--lg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: 600;
}

.header__icon--normal {
  font-size: 22px;
}

.header__icon--lg {
  font-size: 48px;
}

.header__icon:nth-of-type(n + 2) {
  margin-left: 25px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cog-icon:hover {
  animation: rotate 1s linear infinite;
}
